<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewProd</title>
</head>
<body>
    <button> <a href="/fruits">Back</a></button>

        <h1>You are adding a new product</h1>

        <form action="/insertProd" method="post">
            <div>
                <label for="">title</label>
                <input type="text" name="title" placeholder="Please add title">
            </div>
            <div>
                <label for="">body</label>
                <input type="text" name="body" placeholder="Please add body">
            </div>
            <div>
                <label for="">$ price</label>
                <input type="number" name="price" placeholder="Please add price">
            </div>
            <div>
                <label for="">catagory</label>
                <input type="text" name="catagory" placeholder="Please add catagory">
            </div>

            <button> submit</button>
        </form>

    </body>
</html>
